<h1 id="tableLabel">Courses</h1>
<p>Courses list.</p>
<p *ngIf="!courses"><em>Loading...</em></p>
<form>
  <div class="form-group">
    <label>Specializations</label>
    <select  on-change="onSelectSpecialization($event)" class="form-control">
      <option  selected [ngValue]="0">Choose...</option>
      <option  [ngValue]="1">Frontend Developer</option>
      <option  [ngValue]="2">.NET Developer</option>
      <option  [ngValue]="3">Java Developer</option>
    </select>
  </div> 
</form>



<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="courses">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>NecessaryPreKnowledge</th>
      <th>Cost</th>
      <th>Specialization</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.title }}</td>
      <td>{{ course.description }}</td>
      <td>{{ course.necessaryPreKnowledge }}</td>
      <td>{{ course.cost }}</td>
      <td>{{ course.specialization }}</td>
    </tr>
  </tbody>
</table>
