@using ProjectX.MVC.ViewModel;
@{
    var studentTypeList = new Dictionary<int, string>
    {
        [0] = "Online",
        [1] = "Offline",
        [2] = "Mix"
    };
}
@model StudentViewModel
<h2 class="text-center">Add new student</h2>
<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span class="alert-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span class="alert-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="alert-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span class="alert-danger" asp-validation-for="Phone"></span>
    </div>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref1">Group Number</label>
    <select asp-for="GroupId" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref1">
        <option selected value="">Choose...</option>
        @foreach (GroupViewModel group in ViewBag.Groups)
        {
            <option value="@group.Id">@group.Number</option>
        }
    </select>

    <label class="my-1 mr-2" for="inlineFormCustomSelectPref2">Type of Training</label>
    <select asp-for="Type" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref2">
        <option selected value="">Choose...</option>
        @foreach (var type in studentTypeList)
        {
            <option value="@type.Key">@type.Value</option>
        }
    </select>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}