
<html lang="ru-RU">
<head>
    <link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.4/datepicker.min.css">
    <link rel="stylesheet" type="text/css" href="https://onix-one.github.io/main.min.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="https://onix-one.github.io/bootstrap-grid.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="https://onix-one.github.io/bootstrap-reboot.css" media="screen, projection, print">
    <link rel="stylesheet" type="text/css" href="https://onix-one.github.io/bootstrap.css" media="screen, projection, print">
</head>
<body>
    <header class="social">
    </header>
    <div class="matrix">
        <h2 class="matrix__title">РАССЧИТАЙТe свою нумерологическую психоматрицу <span>прямо сейчас!</span></h2>
        <p class="matrix__text">Психоматрица по дате рождения (Квадрат Пифагора)</p>
        <div class="wrapper matrix__wrapper">
            <div class="matrix__form">
                <input class="matrix__input matrix_date" placeholder="ЧЧ.ММ.ГГГГ" maxlength="10">
                <div class="matrix__button_wrap"><button class="matrix__button">Рассчитать</button></div>
            </div>
            <div class="result">
                <div class="result__loader">
                    <div class="result__image"> </div>
                </div>
                <div class="result__hidden">
                    <p class="matrix__text"> </p>
                    <div class="result__wrap">
                        <div class="result__left">
                            <div class="result__big">
                                <div class="result__row result__flex">
                                    <div class="result__info">Дата рождения</div>
                                    <div class="result__answer" data-answer="date"> </div>
                                </div>
                                <div class="result__row result__flex">
                                    <div class="result__info">Доп. числа</div>
                                    <div class="result__answer" data-answer="second-number"> </div>
                                </div>
                                <div class="result__row result__flex">
                                    <div class="result__info">Число судьбы</div>
                                    <div class="result__answer" data-answer="destiny-number"> </div>
                                </div>
                            </div>
                            <div class="result__cube">
                                <div class="result__row">
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Характер</h4>
                                            <p data-index="0"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Здоровье</h4>
                                            <p data-index="3"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4 title="Все о удаче!">Удача</h4>
                                            <p data-index="6"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="result__row">
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Энергия</h4>
                                            <p data-index="1"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Логика</h4>
                                            <p data-index="4"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Долг</h4>
                                            <p data-index="7"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="result__row">
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Интерес</h4>
                                            <p data-index="2"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Труд</h4>
                                            <p data-index="5"> </p>
                                        </div>
                                    </div>
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Память</h4>
                                            <p data-index="8"> </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="result__row">
                                    <div class="result__item">
                                        <div class="result__context">
                                            <h4>Быт</h4>
                                            <p data-index="10"> </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="result__right">
                            <div class="result__item result__item_full">
                                <div class="result__context">
                                    <h4>Темперамент</h4>
                                    <p data-index="9"> </p>
                                </div>
                            </div>
                            <div class="result__item result__item_full">
                                <div class="result__context">
                                    <h4>Цель</h4>
                                    <p data-index="12"> </p>
                                </div>
                            </div>
                            <div class="result__item result__item_full">
                                <div class="result__context">
                                    <h4>Семья</h4>
                                    <p data-index="11"> </p>
                                </div>
                            </div>
                            <div class="result__item result__item_full">
                                <div class="result__context">
                                    <h4>Привычки</h4>
                                    <p data-index="13"> </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script src="https://onix-one.github.io/main.min.js"></script>
</body>
</html>
