<div class="row" data-aos="fade-down" data-aos-duration="600">
    <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
        <div class="intro">
            <h1>LEARN PROGRAMMING<br></h1>
            <h2 class="text-right">Become a professional in IT</h2>
            <img class="img-fluid" src="@Url.Content("~/assets/img/top-banner-desktop.jpg")"/>
        </div>
        <div class="text"></div>
    </div>
</div>
<div>
   
</div>