@using ProjectX.MVC.ViewModel
@model TeacherViewModel
<h2 class="text-center">Edit teacher</h2>
<form asp-action="Edit" method="post">
    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
        <span class="alert-danger" asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
        <span class="alert-danger" asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span class="alert-danger" asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone"></label>
        <input asp-for="Phone" class="form-control" />
        <span class="alert-danger" asp-validation-for="Phone"></span>
    </div>
    <div class="form-group">
        <label asp-for="Bio"></label>
        <input asp-for="Bio" class="form-control" />
    </div>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" asp-action="Index">Cancel</a>
    </div>
</form>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial.cshtml")
}